Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, lintmarkdown, other, templates-exclude

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: ./vendor/bin/phpcbf {staged_files}
        lintphp:
            glob: '*.php'
            run: ./vendor/bin/phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        lintmarkdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json'  # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

WDSUS-2 - Update packages
  package-lock.json
  package.json
Due: other

WDSUS-2 - Remove sidebar template
  inc/setup/widgets-init.php
  page-templates/sidebar-right.php
  sidebar.php
Due: formatphp, lintphp

WDSUS-4 - Remove unused functions
  inc/template-tags/print-copyright-text.php
  inc/template-tags/print-social-network-links.php
  inc/template-tags/print-svg.php
Due: formatphp, lintphp

WDSUS-2 - Add basic styling for header, menum, and footer
  footer.php
  header.php
  src/scss/critical/_footer.scss
  src/scss/critical/_header.scss
  src/scss/critical/_menus.scss
  src/scss/critical/index.scss
Due: formatphp, lintphp, formatstyles, lintstyles

WDSUS-2 - Update theme fonts to fix errors
  src/fonts/inter/Inter-Black.woff2
  src/fonts/inter/Inter-Bold.woff2
  src/fonts/inter/Inter-Light.woff2
  src/fonts/inter/Inter-Regular.woff2
  src/fonts/inter/Inter.var.woff2
  theme.json
Due: other

WDSUS-4 - Remove extra functions and fix content issue
  comments.php
  inc/setup/content-width.php
  inc/setup/setup.php
  inc/template-tags/print-entry-footer.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
Due: formatphp, lintphp

WDSUS-2 Update package lock file
  package-lock.json
Due: other

WDSUS-2 - Update style version
  style.css
Due: formatstyles, lintstyles

WDSUS-2 - Fix content layout issue
  404.php
  archive.php
  inc/template-tags/print-entry-footer.php
  template-parts/content-none.php
Due: formatphp, lintphp

WDSUS-43 - Update files to use assets folder instead of src
  composer.lock
  inc/setup/scripts.php
  inc/wpcli/class-blocks-scaffold.php
  tailwind.config.js
  theme.json
  webpack.config.js
Due: formatphp, lintphp, formatjavascript, lintjavascript, other

WDSUS-43 - Add patterns folder and sample cta pattern
  patterns/cta.php
Due: formatphp, lintphp

WDSUS-43 - Re-add footer text customizer
  footer.php
  inc/template-tags/print-copyright-text.php
Due: formatphp, lintphp

WDSUS-43 - Remove unused customizer settings
  inc/customizer/assets/scripts/livepreview.js
  inc/customizer/customizer.php
  inc/customizer/sections.php
  inc/customizer/settings.php
  inc/template-tags/print-mobile-menu.php
Due: formatphp, lintphp, formatjavascript, lintjavascript

WDSUS-43 - Update README
  README.md
Due: none

WDSUS-45 - Update lock files
  composer.lock
  package-lock.json
Due: other

WDSUS-45 - Remove footer from critical css
  assets/scss/critical/index.scss
  assets/scss/global/_footer.scss
  assets/scss/global/index.scss
Due: formatstyles, lintstyles

WDSUS-44 Update composer dependency packages
  composer.json
  composer.lock
Due: other

WDSUS-44 Remove unused parameter from excerpt-more function
  inc/hooks/excerpt-more.php
Due: formatphp, lintphp

WDSUS-44 Remove extra line
  inc/setup/setup.php
Due: formatphp, lintphp

WDSUS-44 Move global constants from blocks scaffold class to functions.php
  functions.php
  inc/wpcli/class-blocks-scaffold.php
Due: formatphp, lintphp

WDSUS-44 Move wpcli functions from class to separate files
  inc/wpcli/class-blocks-scaffold.php
  inc/wpcli/wpcli.php
Due: formatphp, lintphp

WDSUS-44 Fix phpcs properties
  phpcs.xml.dist
Due: none

WDSUS_45 - Add patterns, parts, templates folders
  parts/.gitkeep
  patterns/.gitkeep
  patterns/cta.php
  templates/index.html
Due: formatphp, lintphp, other, templates-exclude

WDSUS-45 - Add core navigation style
  assets/scss/blocks/core/_navigation.scss
Due: formatstyles, lintstyles

WDSUS-45 - Remove unused styles and functions
  assets/scss/critical/_menus.scss
  inc/shortcodes/.gitkeep
  inc/shortcodes/create-shortcode-copyright-year.php
  inc/template-tags/print-copyright-text.php
Due: formatphp, lintphp, formatstyles, lintstyles

WDSUS-45 - Add page default template
  page.php
Due: formatphp, lintphp

WDSUS-45 - Leave blank to enable site editor
  templates/index.html
Due: other, templates-exclude

WDSUS-45 - Remove footer from critical css
  assets/scss/blocks/core/index.scss
  assets/scss/critical/_header.scss
  assets/scss/critical/index.scss
Due: formatstyles, lintstyles

WDSUS-45 - Add footer and header blocks to use for the header and footer php templates
  inc/template-tags/print-footer-block.php
  inc/template-tags/print-header-block.php
Due: formatphp, lintphp

WDSUS-45 - Update templates to make use of do_blocks()
  footer.php
  header.php
  index.php
Due: formatphp, lintphp

WDSUS-45 - Remove wd_s, already present in namespace
  inc/hooks/register-block-pattern-category.php
  inc/template-tags/print-footer-block.php
Due: formatphp, lintphp

WDSUS-45 - Remove wd_s, already present in namespace
  inc/wpcli/class-blocks-scaffold.php
Due: formatphp, lintphp

WDSUS-45 - Update lock files and lefthook
  composer.lock
  lefthook.yml
  package-lock.json
Due: other

WDSUS-44 Fix linting issues
  lefthook.yml
  theme.json
Due: other

WDSUS-44 Update package json dependencies
  package-lock.json
  package.json
Due: other

WDSUS-44 Fix cta pattern slug
  patterns/cta.php
Due: formatphp, lintphp

WDSUS-45 - Add default home and front page templates
  front-page.php
  home.php
Due: formatphp, lintphp

WDSUS-44 Rename block pattern categories registeration functions
  inc/hooks/register-block-pattern-category.php
Due: formatphp, lintphp

WDSUS-45 - Fix post taxonomies function
  inc/template-tags/print-post-taxonomies.php
Due: formatphp, lintphp
