Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, lintmarkdown, other, templates-exclude

formatphp:
  run: ./vendor/bin/phpcbf {staged_files}

lintphp:
  run: ./vendor/bin/phpcs {staged_files}

formatstyles:
  run: npx prettier {staged_files} --write

lintstyles:
  run: npx stylelint {staged_files} --fix

formatjavascript:
  run: npx prettier {staged_files} --write

lintjavascript:
  run: npx eslint {staged_files} --fix

lintmarkdown:
  run: npx markdownlint-cli {staged_files} --fix

other:
  run: "staged_files=\"$LEFTHOOK_STAGED_FILES\"\nfor file in $staged_files\ndo\n  if [[ ! \"$file\" =~ ^templates/ ]]; then\n    npx prettier \"$file\" --write\n  fi\ndone\n"
  stage_fixed: true
  stage: pre-commit

templates-exclude:
  run: echo "Skipping templates folder"

WDSUS-44 - Update changelog and lefthook to ignore changelog
  .markdownlintignore
  CHANGELOG.md
  lefthook.yml
Due: other

WDSUS-48 - Remove customize and menu links from the appearance dropdown and update composer lock
  composer.lock
  inc/hooks/remove-customize-menu-link.php
Due: formatphp, lintphp

WDSUS-48 - Add margin to footer
  patterns/footer.php
Due: formatphp, lintphp

WDSUS-48 - Remove extra template parts
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content.php
Due: formatphp, lintphp

WDSUS-48 - Update template files content rendering
  archive.php
  front-page.php
  home.php
  index.php
  page.php
  single.php
Due: formatphp, lintphp

WDSUS-48 - Update footer pattern
  patterns/footer.php
Due: formatphp, lintphp

Add testing checklist to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix location of register blocks function
  inc/hooks/register-blocks.php
  inc/wpcli/wpcli.php
Due: formatphp, lintphp

Fix block scaffold command for style assets
  inc/wpcli/class-blocks-scaffold.php
Due: formatphp, lintphp

Update @wordpress/scripts package
  package-lock.json
  package.json
Due: other

Fix block.json style files
  inc/wpcli/block-starter/block.json
Due: other

Add wp-scripts default config entry paths to theme config
  webpack.config.js
Due: formatjavascript, lintjavascript

Path conditions:
  formatphp: any of: *.php
  lintphp: any of: *.php
  formatstyles: any of: *.{css,scss}
  lintstyles: any of: *.{css,scss}
  formatjavascript: any of: *.{js,ts,tsx}
  lintjavascript: any of: *.{js,ts,tsx}
  lintmarkdown: any of: *.{md}
  other: any of: *.{yml,json,html}, but not: group_*.json
  templates-exclude: any of: templates/**
