Repository WebDevStudios/wd_s: changes, and which lefthook commands are due for each by the changed paths.
All: formatphp, lintphp, formatstyles, lintstyles, formatjavascript, lintjavascript, lintmarkdown, other, templates-exclude

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
    commands:
        formatphp:
            glob: '*.php'
            run: ./vendor/bin/phpcbf {staged_files}
        lintphp:
            glob: '*.php'
            run: ./vendor/bin/phpcs {staged_files}
        formatstyles:
            glob: '*.{css,scss}'
            run: npx prettier {staged_files} --write
        lintstyles:
            glob: '*.{css,scss}'
            run: npx stylelint {staged_files} --fix
        formatjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix
        lintmarkdown:
            glob: '*.{md}'
            run: npx markdownlint-cli {staged_files} --fix
        other:
            glob: '*.{yml,json,html}'
            exclude: 'group_*.json'  # Exclude specific files
            run: |
                staged_files="$LEFTHOOK_STAGED_FILES"
                for file in $staged_files
                do
                  if [[ ! "$file" =~ ^templates/ ]]; then
                    npx prettier "$file" --write
                  fi
                done
            stage_fixed: true
            stage: pre-commit
        merge-conflict:
            run: echo "Resolve merge conflicts before committing"
        exit-status:
            run: echo "All pre-commit checks passed"
        templates-exclude:
            glob: 'templates/**' # Match all files and subdirectories within templates folder
            run: echo "Skipping templates folder"

WDSUS-45 - fix mobile navigation layout issue
  assets/scss/blocks/core/_navigation.scss
Due: formatstyles, lintstyles

WDSUS-45 - Fix mobile no padding issue #1061
  home.php
  page.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-password-protected.php
  template-parts/content-search.php
  template-parts/content.php
  theme.json
Due: formatphp, lintphp, other

WDSUS-45 - Update themejson styles
  theme.json
Due: other

WDSUS-45 - Remove extra functions in favor of core header and footer area functions
  footer.php
  header.php
  inc/template-tags/print-footer-block.php
  inc/template-tags/print-header-block.php
  index.php
  page.php
  parts/footer.html
  parts/header.html
  patterns/.gitkeep
  patterns/footer.php
  patterns/header.php
Due: formatphp, lintphp, other

Add color processing system to theme json
  theme.json
Due: other

clean up vars that weren't set
  theme.json
Due: other

Add default index.html
  templates/index.html
Due: other, templates-exclude

Fix navigation alignment
  single.php
Due: formatphp, lintphp

Updated theme json styles for code, quotes blocks
  assets/fonts/oxygen/oxygen-mono-v14-latin-regular.woff2
  theme.json
Due: other

Add missing phpsab standard
  .vscode/settings.json
Due: other

Additional color fixes
  theme.json
Due: other

#1077 Bump postcss-loader from 7.3.0 to 7.3.3
  package.json
Due: other

#1075 Bump tailwindcss from 3.3.2 to 3.3.3
  package.json
Due: other

#1074 - Bump @wordpress/scripts from 26.4.0 to 26.13.0
  package-lock.json
  package.json
Due: other

#1073 - Bump autoprefixer from 10.4.14 to 10.4.16
  package-lock.json
  package.json
Due: other

Fix outline button padding
  theme.json
Due: other

Fix search block styles
  assets/tailwind-preflight.css
Due: formatstyles, lintstyles

Fix paragraph spacing
  theme.json
Due: other

Add scaffolding code for the acf block generated using CLI
  inc/wpcli/block-starter/block.php
Due: formatphp, lintphp

Remove menu reference
  patterns/header.php
  theme.json
Due: formatphp, lintphp, other

Style comments section
  assets/scss/template-tags/_comments.scss
  assets/scss/template-tags/index.scss
  theme.json
Due: formatstyles, lintstyles, other

Add margins to articles
  assets/scss/global/_global.scss
Due: formatstyles, lintstyles

Update default form fields styles
  assets/scss/template-tags/_forms.scss
  assets/scss/template-tags/index.scss
  assets/tailwind-preflight.css
Due: formatstyles, lintstyles

Fix numeric pagination
  front-page.php
  home.php
  inc/template-tags/print-numeric-pagination.php
Due: formatphp, lintphp

Fix page links layout
  template-parts/content-page.php
  template-parts/content.php
Due: formatphp, lintphp

Escape properly
  inc/wpcli/block-starter/block.php
Due: formatphp, lintphp

Fix block scaffolding output
  inc/wpcli/block-starter/block.php
Due: formatphp, lintphp

Update README
  README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Set site title heading to h2 for the footer
  patterns/footer.php
Due: formatphp, lintphp

1090 - Set site title heading to h2 for the footer
  patterns/footer.php
Due: formatphp, lintphp

WDSUS-44 Downgrade wordpress/eslint-plugin from 16.0 to 15.1
  package-lock.json
  package.json
Due: other

WDSUS-44 Update eslint-plugin
  package.json
Due: other

WDSUS-44 - Update postcss
  package.json
Due: other

WDSUS-44 - Update composer
  composer.lock
Due: none

WDSUS-44 - Update package lock
  package-lock.json
Due: other

WDSUS-44 - Update php tested version
  style.css
Due: formatstyles, lintstyles

WDSUS-44 - Update eslint and prettier
  package-lock.json
  package.json
Due: other

WDSUS-44 - Update assertions and codeql workflows
  .github/workflows/assertions.yml
  .github/workflows/codeql-analysis.yml
Due: other
